.draw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 12px;

  .canvas-container {
    border-style: groove;
    border-width: 20px;
    border-color: brown;
    background-color: white;
  }
}